body{
    background-image: url("../Images/let-there-be-sun.png");
}

h1{
    text-align: center;
    font-family: Charter;
    font-size: 50px;
    color: blueviolet;
    text-decoration: underline wavy;
}

img{
    border-radius: 10%;
}
