body{
    background-image: url("../Images/let-there-be-sun.png");
}

h1{
    font-size: 150px;
    text-align: right;
    font-family: Charter;
}

h4{
    text-align: right;
    font-family: Charter; 
}

#mesa{
    height: 200px;
    width: 200px;
    border-radius: 15px 50px;
}

#san{
    height: 200px;
    width: 200px;
    border-radius: 15px 50px;
}

#beach{
    height: 200px;
    width: 200px;
    border-radius: 15px 50px;
}

#lake{
    height: 200px;
    width: 200px;
    border-radius: 15px 50px;
}

#africa{
    height: 200px;
    width: 200px;
    border-radius: 15px 50px;
}

p{
    font-family: "Comic Sans MS";
    font-size: 20px;
}



